//https://abby-hack.netlify.app/
$gray: rgba(255, 255, 255, 0.18);
@mixin montserrat{
     font-family: 'Montserrat', sans-serif;
}
@mixin clash_display {
    font-family: 'Clash Display', sans-serif;
    font-weight: 700;
}
@mixin border {
    border-bottom: 2px solid rgba(255, 255, 255, 0.18);;
}


//Start first page
.page1 {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
   
    .btn {
        width: 152px;
        height: 46.837px;
        font-size: 14px;
    }
    .white {
        left: 31.6%;
        top: 11%;
        width: 12px;
        height: 14px;
    }
    .gray1, .gray2 {
        width: 8px;
        height: 10px;
    }
    .gray1 {
        right: 16%;
        top: 10.7%;
    }
    .gray2 {
        right: 22%;
        top: 39%;
    }
    
    
}
.purpleGradient {
    width: 100%;
    max-width: 396px;
    height: 442px;
    position: absolute;
    top: -126px;
    left: -150px;
    z-index: -1;
    opacity: 0.65;
   
}

.heading {
    text-align: center;
    margin: 2rem 2rem;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 10px;
    
}
.line {
    position: relative;
    //margin-bottom: 5rem;
}
.line:after {
    content: '';
    background-image: url("/landingPage/arch.svg");
    position: absolute;
    bottom: -17px;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    //flex: 1 1 1;
    //height: 12px;
    //width: 100%;
    // border: solid 3px #FF26B9;
    // border-color: #FF26B9 transparent transparent transparent;
    // border-radius: 30%;
    // border-radius: 50%/12px 12px 0 0;
}
.lightbulb {
    position: relative;
    
}
.lightbulb::after {
    content:'';
    background-image: url("/landingPage/lightbulb.svg");
    position: absolute;
    top: -14.5px;
    left: 5px;
    width: 18px;
    height: 26px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
   
    

}

.centerize {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 1.2rem;
    text-align: center;
    h2 {
        font-family: Clash Display;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        
    }
    p:nth-of-type(1) {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        width: 300px;
        line-height: 166%;
        margin: 0.6rem 0rem 1.4rem;
    }
}
.smallIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.2rem;
}

.timer {
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    margin: 1.5rem 0 ;
    .time {
        font-size: 12px;
    }
}
.firstpageImg1, .firstpageImg2, .guy {
    position: relative;
    height: 280px;
   // background-color: red;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    img:nth-of-type(2) {
        position: absolute;
        //width: 100%;
    }
}
.guy {
    max-width: 420px;

}
.firstpageImg2 {
    display: none;
}
@media only screen and (max-width:370px) {
    .line:after {
        display: none;
    }
}
@media only screen and (min-width:860px) {
    .page1 {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 2rem;
        padding: 0 2rem;
        @include border;

        .white, .gray1, .gray2 {
            width: 26px;
            height: 32px;
        }

        .white {
            left: 12.1%;
           
            top: 3%;
           
        }
        
        .gray1 {
            right: 48%;
            top: 13.7%;
        }
        .gray2 {
            right: 62%;
            top: 67%;
            
        }
    }
    .firstpageImg1 {
        display: none;
    }
    .firstpageImg2 {
        display: flex;
        //height: 300px;
       
        height: 600px;
       
        height: 600px;
       img {
        width: 100%;
        height: 100%;
        // width: 600px;
        // height: 600px;
        }
    }
    .centerize {
        margin-top: 0;
        display: block;
        text-align: left;
        margin-bottom: -2rem;
       
        h2 {
            font-size: 55px;
            text-align: left;
        }
        p:nth-of-type(1) {
            width: 100%;
            max-width: 512px;
            font-size: 17px;
            line-height: 166%;
            text-align: left;
            margin-bottom: 2rem;
        }
    }
    .smallIcons {
        justify-content: flex-start;
    }
    .heading {
       
        font-size: 19px;
        margin: 0 0 -1.5rem;
        display: flex;
        flex-direction: column;
       align-items: flex-end;
       
        h2 {
        margin-right: 5rem;
        margin-bottom: 2rem;
        }
    }

    .lightbulb::after {
        width: 53px;
        height: 73px;
        top: -55px;
        left: 15px;
    }
    .timer {
        margin-top: 3.6rem;
        font-size: 54px;
    }
    .purpleGradient {
        left: -250px;
        max-width: 1086px;
        height: 836px;
        top: -150px;
        border-radius: 50%;
        transform: rotate(90deg);
       opacity: 0.65;
       //background-blend-mode: hard-light;
    }
    .line:after {
        bottom: -24px;
    }
    .smallIcons {
        img {
            width: 46px;
            height: 46px;
        }
    }


}


// Start introduction
.introduction {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding-bottom: 2.5rem;
    text-align: center;
    @include border;
    img {
        margin-bottom: 2rem;
    }
    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 27.5px;
        width: 80%;
        margin: 0.4rem auto 1rem;
        
    }
    .purple1 {
        width: 12px;
        height: 14px;
        top: 13%;
        left: 13%;
    }
    .purple2 {
        width: 9px;
        height: 11px;
        top: 50%;
        right: 8%;
    }
    .arrow {
        width: 25.456px;
        height: 28.818px;
        top: 40%;
        position: absolute;
    }
}
.introText {
    margin-top: 2rem;
    h2 {
       
        font-weight: 700;
        font-size: 22px;
        line-height: 133%;
        font-family: 'Clash Display', sans-serif;
       
    }
}

@media only screen and (min-width:760px) {
    .introduction {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr;
        text-align: left;
        margin-top: 4.5rem;
        padding-bottom: 3rem;
        p {
            margin: 0.7rem 0rem;
           font-size: 14.5px;
        }

        .purple1 {
        width: 21px;
        height: 25px;
        top: 30%;
        left: 8%;
    }
    .purple2 {
        width: 30px;
        height: 36px;
        top: 30%;
        right: 9.5%;
    }
    .arrow {
        width: 30px;
        height: 36px;
        top: 40%;
        position: absolute;
    }
        
    }
    .big_idea {
        width: 490px;
        height: 477px;
    }
    .introText {
        margin-left: 1.3rem;
        h2 {
            font-size: 38px;
        }
    }
    
   
}

//End introduction



//Begin Rules

.rules {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    @include border;
    h2 {
        @include clash_display;
        font-weight: 700;
        line-height: 133%;
        margin-top: 0.5rem;
        font-size: 24px;

    }
    p {
        @include montserrat;
        font-weight: 400;
        line-height: 27.5px;
        margin: 0.8rem auto 3rem;
        font-size: 13px;
        width: 80%;
    }
    .white1, .white2 {
        width: 10px;
        height: 12px;
    }
    .white1 {
        top: 24%;
        left: 10%;

    }
    .white2 {
        bottom: 2.5%;
        left: 28%;

    }
    .gray {
        width: 12px;
        height: 14px;
        right: 11%;
       bottom: 39%;
    }
}

.rules_img {
    position: relative;
    margin-top: 1rem;
    height: 100%;
    
    .img {
        
        
        //display: block;
        width: 100vw;
        height: 364px;
        background-image: url("/landingPage/rules.svg");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

    }
    
}

.rules_gradient {
    position: absolute;

    //width: 404px;
    height: 435px;
    //z-index: -1;
    top: -140px;
    //opacity: 0.65;
    //right: 0px;
    left: -110px;
    // width: 100%;
    // max-width: 396px;
    // height: 442px;
    // position: absolute;
    // top: -26px;
     z-index: -1;
}
.rules_gradient2 {
    position: absolute;
    right: -50px;
    height: 500px;
   // width: 400px;
   opacity: 0.55;
   z-index: -1;
}




@media only screen and (min-width: 760px) {
   
    .rules {
        flex-direction: row-reverse;
        text-align: left;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;
        h2 {
            font-size: 40px;
        }
        p {
            margin: 1rem 0;
            width: 100%;
            max-width: 535px;
            font-size: 16px;
            line-height: 27.5px;
        }
        .white1, .gray {
            width: 26px;
            height: 32px;
        }

         .white1 {
        top: 72%;
        left: 42%;

        }
        .white2 {
            display: none;

        }
        .gray {
            
            right: 71%;
            bottom: 68%;
        }
    }
    .rules_img {
       
        
        .img {
           
            margin-left: 1.5rem;
            
             width: 60vw;
             height: 60vh;
            max-width: 50vw;
            min-height: 50vw;
           
            position: relative;
            
            &::before {
                content: '';
               // z-index: 100;
                width: 20%;
                height: 20%;
                border-radius: 50%;
                background-size: cover;
                background-image: linear-gradient(270deg, #8F01FE 0%, #FF2674 97.24%); 
                background-color: #FF2674;
                //display: block;
                position: absolute;
                // top: 120px;
                // right: 160px;
                top:15%;
                // right: 140px;
                right: 21%;
                 z-index: -1;
                
    
                
            }
            
        }
    }
}
//End Rules



//Begin Criteria
.criteria {
    @include border;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 1.8rem;
    //overflow: hidden;
    
   
    .btn {
        margin: 1.5rem auto 3rem;
        width: 101.35px;
        height: 36.346px;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        @include montserrat;
    }
    
    .lens_center {
       // position: absolute;
        z-index: -1;
    }
    .pink {
        color: #FF26B9;
        font-weight: 700;
        
    }
    h2 {
        @include clash_display;
        font-size: 25px;

    }
    p {
        margin: 1.5rem auto 0;
        @include montserrat;
        font-weight: 400;
        font-size: 14px;
        line-height: 173.5%;
        width: 90%;
    }
    .purple, .white, .gray {
        position: absolute;
    }
    .purple {
        width: 13px;
        height: 17px;
        top: 1%;
        left: 45%;
    }
    .white {
        width: 10px;
        height: 12px;
        bottom: 5.5%;
        right: 12%;
    }
    .gray {
        width: 12px;
        height: 14px;
        left: 55%;
        top: 16%;

    }
    
}
.criteria_img {
    width: 100%;
    margin-top: 1.6rem;
    .img {
        
        width: 100%;
        //max-width: 600px;
        margin-bottom: 1rem;
        width: 100%;
        height: 275px;
        background-image: url("/landingPage/criteria.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
   // width: 400px;
    
}
@mixin lens {
    opacity: 0.65;
    
    z-index: -1;
    
    position: absolute;
   
    
    

}
.criteria_lens1 {
    top: 105px;
    left: -132px;
    @include lens;
   
}
.criteria_lens2 {
    bottom: 70px;
   right: -75px;
   height: 300px;
    @include lens;
    
    
    
}


@media only screen and (min-width: 960px) {
    .criteria {
        flex-direction: row;
       // justify-content: space-around;
        text-align: left;
        padding: 5rem 0;
        p {
            margin: 1.5rem 0;
            max-width: 600px;
        }
        .btn {
            margin: 3rem 0;
            width: 172px;
            height: 53px;
            font-size: 16px;
        }
        h2 {
            font-size: 32px;
        }
        .purple, .white, .gray {
            width: 32px;
            height: 36px;
        }
        .purple {
           
            top: 10%;
            left: 15%;
        }
        .white {
            
            bottom: 13.5%;
            right: 51%;
        }
        .gray {
           
            left: 33%;
            top: 50%;
    
        }
    }
    .criteria_img {
        width: 45vw;
        height: 587px;
        margin-right: 1rem;
        .img {
           // border: 1px solid;
            width: 45vw;
            height: 587px;

        //     width: 60vw;
        //     height: 60vh;
        //    max-width: 50vw;
        //    min-height: 50vw;
            position: relative;
            &::before {
                content: '';
               // z-index: 100;
                width: 18vmin;
                height: 18vmin;
                // width: 156px;
                // height: 156px;
                border-radius: 50%;
                background-size: cover;
                background-image: linear-gradient(270deg, #8F01FE 0%, #FF2674 97.24%); 
                background-color: #FF2674;
                //display: block;
                position: absolute;
                
                //left: 160px;
                top:2.5%;
                
                left: 13.3%;
                 z-index: -1;
                
    
                
            }
            
        }
       
    
    
    }
}


//End Criteria



//Start FAQ

.faq {
    position: relative;
    padding-top: 4rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    line-height: 27.5px;
    @include montserrat; 
    @include border; 
    h2 {
        text-align: center;
        font-size: 23px;
        line-height: 133%;
        @include clash_display;
        + p {
            font-size: 14px;
            margin: 0.85rem auto;
            text-align: center;
            width: 88%;
            
        }
    }
    .text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
            width: 10px;
        }
        div {
            font-size: 14px;
            width: 80%;
        }
    }
    .purple {
        width: 18px;
        height: 22px;
        position: absolute;
        top: 4.5%;
        left: 12%;
    }
   
}
.accordion {
    width: 85%;
    max-width: 427px;
    margin: 4rem auto ;
    .text_line {
        width: 100%;
        background: #D434FE;
        height: 1px;
        margin: 0.2rem 0 0.8rem;
    }
    
}
.faq_img {
    width: 90%;
    height: 347px;
    background-image: url("/landingPage/faq.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    // display: flex;
    // justify-content: flex-start;
    // align-items: flex-start;
    position: relative;
    margin-bottom: 2.5rem;
    img {
        width: 100%;
        height: 104.5%;
        position: absolute;
        bottom: 10px;
        left: -15px;
    }
   

}

@media only screen and (min-width: 760px) {
    .faq {
        align-items: normal;
        padding-left: 2rem;
        padding-bottom: 2.5rem;
        flex-direction: row-reverse;

       
        
        h2 {
            text-align: left;
            font-size: 34px;
            + p {
                text-align: left;
                margin: 0.85rem 0;
                font-size: 17px;
            }
        }
        .text {
            div { font-size: 17px;}
        }

        .purple {
            width: 30px;
            height: 36px;
            top: 4.5%;
            left: 15%;
        }
        
    }
    .faq_img {
        width: 60vw;
        max-width: 541px;
        height: 541px;
        margin-bottom: 0;
        img {
            height: 589px;
        }
        + div {
            padding-top: 2rem;
        }
    }
    .accordion {
        margin: 3rem 0;
        font-size: 17px;
    }
}

//End FAQ



//Start Timeline
.timeline {
    position: relative;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   
   margin: 0 auto;
    @include montserrat;
     .mobile {
        width: 85%;
        margin : 0 auto;
        max-width: 500px;
    }
    .desktop {
        display: none;
    }
    h2 {
        margin-top: 4rem;
        @include clash_display;
        font-size: 23px;
        margin-bottom: 0.8rem;
        text-align: center;
        + p {
            width: 80%;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 172.4%;
            text-align: center;
            margin-bottom: 1rem ;

        }
       
    }
    p {
        font-size: 13px;
    }
    .vertical_line {
        width: 2px;
        height: 100%;
        background: #D434FE;
        display: inline-block;
    }
    .purple, .white, .gray {
        position: absolute;
        width: 10px;
        height: 12px;
    }
    .purple {
        width: 14px;
        height: 16px;
        top: 14%;
        left: 17%;
    }
    .gray {
        left: 5%;
        bottom: 3.5%;
    }
    .white {
        top: 51.5%;
        right: 25%;
    }
}
.timeline_info {
    margin: 2.2rem auto;
    display: flex;
    align-items: first stretch; 
    font-size: 14px;
    line-height: 172.4%;
    > div:nth-of-type(1) {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 0.5rem;
    }
    
   
}
.number {
    width: 19.32px;
    height: 19.32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.2rem;
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 100%);

}

.todo {
    p:nth-of-type(2) {
        margin: 0.2rem 0 0.4rem;
        
    }
}


@media only screen and (min-width: 760px) {
    .timeline {
        padding-bottom: 6rem;
        h2 {
            font-size: 36px;
            font-weight: 700;
            + p {
                font-size: 16px;
                width: 346px;
                margin-bottom: 4rem;
            }
        }
        .mobile {
            display: none;
        }
        .desktop {
            display: flex;
            justify-content: space-around;
            width: 80%;
            div:nth-of-type(2) {
                display: flex;
                flex-direction: column;
                margin-left:2.5rem;
                margin-right: 2.5rem;
                align-items: center;
            }
            h4 {
                font-size: 29px;
                margin-bottom: 1rem;
                margin-top: 4rem;
            }
            p {
                font-size: 16px;
                line-height: 170.9%
            }
            .vertical_line {
                width: 4px;
            }
        }

        .white, .gray {
            width: 26px;
            height: 32px;
        }
        .purple {
            width: 30px;
            height: 36px;
            top: 14%;
            left: 12%;
        }
        .gray {
            left: 5%;
            bottom: 10%;
        }
        .white {
            top: 46%;
            right: 16%;
        }
    }
    .number {
        width: 53px;
        height: 53px;
        margin: 0.6rem 0;
        flex-shrink: 0;
    }
}

//End Timeline



//Start prizes
.prize_gradient1, .prize_gradient2 {
    width: 100%;
    max-width: 406px;
    height: 442px;
    position: absolute;
   
    z-index: -1;
    opacity: 0.65;
   
}
.prize_gradient1 {
    height: 435px;
    top: -60px;
    left: -120px;
}

.prize_gradient2 {
    bottom: 70px;
    right: -110px;

}

.prizes {
    z-index: 1;
    background-color: rgb(7, 11, 32);
    position: relative;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include montserrat;
    h2 {
        @include clash_display;
        font-size: 24px;
        line-height: normal;
        text-align: center;
       
        + p {
            text-align: center;
            font-size: 14px;
            margin: 1rem auto 0;
            width: 85%;
            margin-bottom: 3.5rem;
            line-height: 170.9%
        }
    }
    .purple1, .purple2, .white1, .white2, .gray {
        position: absolute;
    }
    .purple1, .purple2 {
        width: 21px;
        height: 25px;
    }
    .purple1 {
        top: 10%;
        left: 25%;
    }
    .purple2 {
        top: 23%;
        right: 20%;

    }
    .white1, .white2 {
        width: 26px;
        height: 32px;
    }
    .white1 {
        left: 53%;
        top: 30%;
    }
    .white2 {
        bottom: 53%;
        right: 10%;
    }
    .gray {
        width: 26px;
        height: 32px;
        bottom: 3.5%;
        right: 35%;
    }
}

.trophy {
    width: 85%;
    max-width: 548px;
    margin: 0 auto;
    
}

.medals {
    margin: 10rem auto 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    > * {
        width: 92.007px;
        height: 127.323px;
        border-radius: 8px;
        border: 1px solid #903AFF;
        background: rgba(144, 58, 255, 0.12);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    h5 {
        margin-top: 0.4rem;
    }
    h5, h6 {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 126.4%;
        
    }
    h6 {
        margin-bottom: 0.3rem;
    }
    p:nth-of-type(1), p:nth-of-type(3) {
        color:#D434FE;
        font-weight: 700;
    }
    p:nth-of-type(2) {
        color: #903AFF;
    }
   
}
.medal {
    img {
        margin-top: -5rem;
    }
    // p {
    //     font-size: 18px;
    // }
    &:nth-of-type(2) {
    img {   
        margin-top: -7rem;
        width: 125.671px;
        height: 125.671px;
    }
        font-weight: 700;
        margin: 0 0.95rem;
        margin-top: 0.85rem;
    }
}


@media only screen and (min-width: 960px) {
    .prize_gradient1 {
        top: 40px;
        right: -300px;
        left: 20px;
    
    }
    .prizes {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 6rem 1rem 0;
        h2 {
            text-align: left;
            font-size: 32px;
            margin-left: 9rem;
                
            + p {
                font-size: 17px;
                text-align: left;
                margin:  1rem 0;
                margin-left: 9rem;
                width: 380px;
            }
        }
    }
    .trophy {
        margin: 0 2.2rem 3.2rem 0;
        height: 408px;
        
    }
    .medals {
        margin-top: 11rem;
        > * {
            width: 182px;
            height: 236px;
        }
        h5 {
            font-size: 33px;
            margin-top: 1rem;
        }
        h6 {
            font-size: 21px;
        }
        p {
            font-size: 29px;
           // margin-top: 0.8rem;
        }
    }
    .medal  {
        display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        img {
            width: 159px;
            height: 160px;
            //width: 80%;
            margin-top: -9rem;
        }
        &:nth-of-type(2) {
            margin: 0 1.3rem;
            margin-top: 2.5rem;
            img {
                width: 246px;
                height: 246px;
                //width: 95%;
                margin-top: -12rem;

            }

        }
        
    }
}
//End prizes

//Start Partners

.partners_gradient1, .partners_gradient2 {
    width: 100%;
    max-width: 406px;
    height: 442px;
    position: absolute;
   
    z-index: -1;
    opacity: 0.65;
   
}
.partners_gradient1 {
    height: 435px;
    top: -190px;
    left: -170px;
}

.partners_gradient2 {
    bottom: -190px;
    right: -110px;

}

.partners {
   z-index: 2;
    position: relative;
    @include border;
    padding-top: 3rem;
    text-align: center;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
    @include clash_display;
    font-size: 20px;
    }
    p {
    @include montserrat;
    font-weight: 400;
    line-height: 26.5px;
    margin: 1rem auto 3rem;
    width: 80%;
    max-width: 452px;
    font-size: 12.5px;
    }
    
}
.sponsors {
    position: relative;
    padding: 2rem 10%;
    width: 75%;
    height: 80%;
    margin: 0 auto 5rem;
    border-radius: 5px;
    border: 1px solid #D434FE;
    background: rgba(255, 255, 255, 0.01);
    display: grid;
    grid-template-columns: 1fr .05fr 1fr .05fr 1fr;
    grid-template-rows: 1fr .05fr 1fr;
    > * {
       align-self: center;
       justify-self: center;
    }
    img {
        width: 80%;
        height: 90%;
        max-width: 121px;
        max-height: 114px;
        align-self: center;
    }
    
    .straight_line {
        width: 2px;
        height: 80%;
        display: block;
        background: #D434FE;
        //align-self: flex-end;
    }

    .horizontal_line {
        width: 110%;
        height: 2px;
        display: block;
        background: #D434FE;
    }
    .invisible_circle {
        width: 4vmax;
        height: 4vmax;
        border-radius: 50%;
        //background-color: #D434FE;
    }
    .purple1, .white {
        position: absolute;
    }
    .purple1 {
        width: 8px;
        height: 10px;
        top: 0%;
        left: 8%;
    }
    .purple2 {
        display: none;
    }
    .white {
        width: 10px;
        height: 12px;
        bottom: 1%;
        right: 16%;
    }
}

@media only screen and (min-width: 860px) {
    .partners {
        h2 {
            font-size: 32px;
        }
        p {
            font-size: 14.5px;
            
        }
    }
    .sponsors {
        padding: 4rem 10%;

        .purple1 {
            width: 30px;
            height: 36px;
            top: -11%;
            left: 8%;
        }
        .purple2 {
            display: block;
            position: absolute;
            width: 21px;
            height: 25px;
            left: 57%;
            top: 12%;
        }
        .white {
            width: 26px;
            height: 32px;
            bottom: 7%;
            right: 40%;
        }
    }
    .partners_gradient1 {
       
        top: -60px;
        left: -120px;
    }
    
    .partners_gradient2 {
        bottom: 20px;
        right: -0px;
    
    }

}

//End Partners

//Start Privacy

.privacy_gradient {
    width: 100%;
    max-width: 406px;
    height: 442px;
    position: absolute;
    z-index: -1;
    opacity: 0.65;
    //height: 435px;
    bottom: 40%;
    left: -190px;
}


.privacy {
    position: relative;
    z-index: 2;
    padding-top: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include montserrat;


    h2 {
        @include clash_display;
        font-size: 24px;
        &:nth-of-type(1) {
            margin-bottom: 0.3rem;
        }
        &:nth-of-type(2) {
            margin-bottom: 0.65rem;
        }
       
    }
    p {
        line-height: 27.5px;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
    }

    h4 {
        text-align: left;
        margin-top: 2rem;
        margin-bottom: 0.75rem;
        font-size: 15px;
    }
    h5 {
        font-size: 13.5px;
        text-align: left;
        line-height: 27.5px;
        //margin-bottom: 1.8rem;
    }
    .purple1, .purple2, .gray {
        position: absolute;
        width: 17px;
        height: 20px;
    }
    .purple1 {
        top: 17%;
        right: 15%;
    }
    .purple2 {
        top: 55.4%;
        left: 7%;
    }
    .gray {
        width: 10px;
        height: 10px;
        top: 2.7%;
        right: 19%;
    }
   
}
.gray_text {
    color: rgba(255, 255, 255, 0.75);
   // margin-bottom: 3rem;
   
    + p {
        width: 90%;
        margin-top: 2.3rem;
        margin-bottom: 2.3rem;
        max-width: 538px;
        
        
        
    }
}

.privacy_box {
    border-radius: 5px;
    border: 1px solid #D434FE;
    background: rgba(217, 217, 217, 0.03);
    width: 75%;
    max-width: 569px;
    margin: 0 auto;
    padding: 3.5rem 1rem;
    margin-bottom: 3rem;
    button {
        margin: 2rem auto 0;
        width: 96.35px;
        height: 31.35px;
    }
    

}

.checks {
    text-align: left;
    margin-top: 1.5rem;
    display: flex;
    align-items: flex-start;
}
.checkmark {
    margin-right: 0.9rem;
    margin-top: 0.4rem;
}

.privacy_img {
    margin-bottom: 3rem;
}

@media only screen and (min-width: 860px) {
    .privacy_gradient {
       
        bottom: 80px;
        
    }
    .privacy {
        padding-top: 4rem;
        padding-bottom: 8rem;
        padding-left: 2rem;
        text-align: left;
        flex-direction: row;
        justify-content: center;
        h2 {
            font-size: 30px;
            
        }
        p {
            font-size: 15px;
            margin-left: 0;
            margin-right: 0;
        }
       
        .purple1 {
            width: 23px;
            height: 28px;
            top: 0%;
            right: 0%;
            display: none;
        }
        .purple2 {
            width: 30px;
            height: 36px;
           bottom: 0%;
            left: 7%;
        }
        .gray {
            width: 26px;
            height: 32px;
            top: 6%;
            right: 65%;
        }
    }
    .privacy_box {
        margin: 0;
        padding: 3rem 3rem 2rem;
        button {
            margin: 1.8rem auto 2rem;
            width: 172px;
            height: 53px;
            margin-left: 25%;
        }
    }
    .privacy_img {
        width: 35vw;
        height: 35vw;
        width: 40%;
        height: 40%;
    }
    .gray_text {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        + p {
            margin-top: 1.5rem;
            
        }
    }
}
//End Privacy